html {
  background-color: #282c34;
}

.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App-replacer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.connectButton {
  width: 20%;
  min-width: 10rem;
  border-radius: 2rem;
  color: #282c34;
  padding: 1rem 2rem;
  margin: 0.5rem;
  font-size: 1rem;
}